.c {
  position: absolute;
  max-width: 320px;
  max-height: 180px;
  width: 340px;
  height: 180px;
  cursor: pointer;
  will-change: transform, opacity;
}

.d {
  position: absolute;
  max-width: 1000px;
  max-height: 340px;
  width: 500px;
  height: 340px;
  cursor: pointer;
  will-change: transform, opacity;
  border-width: 50px;
  border-color: blue;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 3px 50px rgba(0, 1, 0, 0.3);
}

.back {
  /*background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);*/
  background-color: green;
  
  
}

.front {
  /*background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);*/
  background-color: white;
  border-width: 50px;
  border-color: blue;
}
